.app-layout {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.app-layout-content {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .app-layout-content {
    padding: 0 16px;
  }
}
